<div class="entirety">
  <div class="header">
    <div class="logo-container">
      <img
        src="LOGO.png"
        alt="ParkPlus Logo"
        class="logo"/>
      <h1>ARK <span class="blue">UP</span></h1>
    </div>
    <div class="white-border-container">
      <div class="white-border"></div>
    </div>
    <div class="actions-container">
      <input class="search" type="text" placeholder="Buscar..." />
      <div class="user-dropdown-wrapper">
        <div class="user-container" (click)="toggleDropdown()">
          <fa-icon size="2x" [icon]="icons.bell" class="clickable"></fa-icon>
          <img [src]="getIconCache()" alt="User Icon" class="user-icon"/>
          <p class="clickable">{{getUsernameCache()}}</p>
          <fa-icon [icon]="icons.chevronDown" class="clickable"></fa-icon>
        </div>
        <div class="user-dropdown-menu" *ngIf="dropdownOpen">
          <div class="dropdown-item" >Profile</div>
          <div class="dropdown-item" >Settings</div>
        </div>
      </div>
    </div>
    </div>
  <div>
    <div class="white-border-below"></div>
    <div class="sidebar">
      <div class="options-container">
        <div *ngFor="let option of options" class="option clickable" (click)="goTo(option.route)">
          <fa-icon [icon]="option.icon" size="2x"></fa-icon>
          <h1>{{option.name}}</h1>
        </div>
      </div>
    </div>
    <div class="white-border-below-small"></div>
    <div class="setting-sidebar">
      <div class="setting-container">
        <div class="option clickable" (click)="goTo(routes.settings)">
          <fa-icon [icon]="icons.settings" size="2x"></fa-icon>
          <h1>Settings</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="white-line"></div>
</div>
<div class="content">
  <ng-content></ng-content>
</div>
