<div class="login-page">
  <div class="left-image"></div>

  <div class="right-form">
    <div class="form-box">
      <div class="logo-container">
        <h2>Log Into your Account</h2>
        <img src="https://github.com/SolucionesIoT-FindAndPark-UPC/web-application-frontend/blob/feat/login/src/assets/logo.png?raw=true" alt="Logo" class="logo" />
      </div>


      <input type="email" placeholder="Email Address" class="input-field" />
      <input type="password" placeholder="Password" class="input-field" />

      <div class="forgot">
        <a href="#">Forgot your password?</a>
      </div>

      <div class="button-row">
        <button class="btn-outline" (click)="onRegister()">Create Account</button>
        <button class="btn-filled" (click)="onSubmit()">Sign In</button>
      </div>
    </div>
  </div>
</div>
